.root{
  li{
    display: inline-block;
    &.selected{
      background: #D32795;
    }
  }
  a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #D32795;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border: 1px solid #D32795;
    border-radius: 30px;
    margin-right: 10px;
    &:hover{
      background: #D32795;
    color: #fff;

    }
  }
  :global{
    .selected{
      a{
        background-color: #D32795;
        color: #fff;
      }
    }
  }
  }

